<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <p th:if="${error}" th:text="${error}"></p>
</div>
 <form method="post" th:action="@{/user}">

     <div class="form-group">
        <label>Username:
            <input type="text" th:value="${username}"/>
        </label>
     </div>
     <div class="form-group">
         <label>Email:
             <input type="email" th:value="${email}"/>
         </label>
     </div>
     <div class="form-group">
         <label>Password:
             <input type="password" th:value="${password}"/>
         </label>
     </div>
     <div class="form-group">
         <input type="submit" value="Submit"/>
     </div>

 </form>
</body>
</html>